{% extends "base.html" %}
{% block content %}
<div class="flex_container">
    <div class="flex_container display_buttons">
        <button id="listAll">List All Times</button>
        <button id="listOpenOnly">List Open Times</button>
        <button id="listCloseOnly">List Close Times</button>
    </div>
    <div class="flex_container">
        <label>Display format:</label>
        <select name="display_format" id="display_format">
            <option value="json">JSON</option>
            <option value="csv">CSV</option>
        </select>
    </div>
    <div class="flex_container">
        <label>List the top: </label>
        <input id="top_results" type="number" value="5">
    </div>
</div>
<div id="results"></div>

<script>
    function getData(ret_type) {
        var file_type = $("#display_format").val();
        var k = $("#top_results").val();
        $.get("/_get_data", {ret_type: ret_type, file_type: file_type, k: k})
        .done(function(data) {
                // Clear the text area
                $("#results").text("");

                // If the file type was json, format accordingly
                if (file_type === 'json') {
                    // Change the data from a string to a dictionary
                    data = JSON.parse(data);

                    // For each checkpoint in the list
                    for (var ind in data) {
                        $("#results").append("<h2>Checkpoint " + ind + "</h2>");
                        for (var key in data[ind]) {
                            $("#results").append("<p>" + key + ": " + data[ind][key] + "</p>");
                        }
                    }
                }
                // Otherwise, the file type is csv
                else if (file_type === 'csv') {
                    // For each line (broken up by '\n'), add a new line to result field
                    var line = "";
                    for (var i = 0; i < data.length; i++) {
                        line += data[i];
                        if (data[i] == "\n") {
                            $("#results").append("<p>" + line + "</p>");
                            line = "";
                        }
                    } 
                }
            }
        )
        .fail(function( response ) {
            console.log(response)
            $("#results").text("Error: Unauthorized token. Please log back in.");
        });
    }

    // List all button
    $("#listAll").click(
        function(event) {
            event.preventDefault();
            getData('listAll');
        }
    );

    // List open only button
    $("#listOpenOnly").click(
        function(event) {
            event.preventDefault();
            getData('listOpenOnly');
        }
    );

    // List close only button
    $("#listCloseOnly").click(
        function(event) {
            event.preventDefault();
            getData('listCloseOnly');
        }
    );
</script>
{% endblock %}